* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-image: url("lightning-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  margin: 150px 20px;
  height: 330px;
  width: 400px;
  border-style: none;
  padding: 30px;
  border-radius: 10px;
  border: 3px solid lightskyblue;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-image: url("https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830027.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}

p {
  font-size: 20px;
  font-weight: bold;
  color: rgb(28, 126, 166);
}

textarea {
  height: 150px;
  width: 80%;
  margin-top: 20px;
  padding: 10px;
  font-size: 15px;
  border-style: none;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  height: 30px;
  width: 45%;
  margin-top: 10px;
  border-style: none;
  border-radius: 10px;
  background-color: white;
}

.submit {
  height: 50px;
  width: 80%;
  margin-top: 20px;
  border-style: none;
  border-radius: 10px;
  font-size: 15px;
  color: rgb(28, 126, 166);
}

.token {
  height: 50px;
  width: 80%;
  margin-top: 20px;
  padding: 12px;
  font-size: 20px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  display: none;
}

.forward_buttons {
  margin-top: 10px;
  width: 80%;
  display: none;
  justify-content: space-between;
  align-items: center;
}

textarea,
.submit,
.token,
button {
  border: 3px solid lightskyblue;
}

/* styles of toast message */

.notifications {
  position: fixed;
  top: 30px;
  right: -5px;
}

.toast {
  padding: 10px 5px;
  color: #fff;
  margin-bottom: 10px;
  width: 250px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  border-radius: 5px;
  animation: show 0.3s ease 1 forwards;
}

.toast i {
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.toast .title {
  font-size: 18px;
  font-weight: bold;
}

.toast span,
.toast i:nth-child(3) {
  color: #fff;
  opacity: 0.6;
}

@keyframes show {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-5%);
  }

  80% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10%);
  }
}

.toast::before {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color);
  width: 100%;
  height: 3px;
  content: "";
  box-shadow: 0 0 10px var(--color);
  animation: timeOut 5s linear 1 forwards;
}

@keyframes timeOut {
  to {
    width: 0;
  }
}

.toast.warning {
  --color: #0cbde9;
  background-image: linear-gradient(to right, #0cb2e955, #22242f 30%);
}

/* Toast style ends here */

@media screen and (max-width: 600px) {
  section {
    width: 80%;
    padding: 30px 20px;
  }
  p {
    font-size: 17px;
  }
  textarea {
    width: 100%;
  }
  .token {
    width: 100%;
    font-size: 18px;
  }
  .forward_buttons {
    width: 100%;
  }
  .submit {
    width: 100%;
  }
}
